node_modules

# Keep environment variables out of version control
.env
.env.*
!.env.example

# Build output
dist

# Prisma generated client
/generated/prisma
/src/generated

# Logs
logs
*.log
npm-debug.log*
